{% extends 'base.html.twig' %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content_wrapper %}
    <!-- CONTENT HEADER -->
    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item">
                        <i class="icon-home2 mr-2"></i>Главная
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header-content">

        <div class="page-title d-flex">

            <h1><span class="font-weight-bold">Главная</span></h1>
        </div>


    </div>
    <!-- /CONTENT HEADER -->

    <!-- CONTENT AREA -->
    <div class="content">
        <!-- Tasks -->
        {% include 'partials/content_list_block.html.twig' with {
            'contentItems': lastTasks,
            'title': 'Новые задачи',
            'ajax_buttons': false,
            'link_to_content_item': path('app.view_task', {'id': 'id' })
        } %}
        <!-- /Tasks -->

        <!-- Latest articles -->
        {#<div class="card">#}
        {% include 'partials/content_list_block.html.twig' with {
            'contentItems': lastKnowledge,
            'title': 'Новые статьи',
            'ajax_buttons': false,
            'link_to_content_item': path('app.view_knowledge', {'id': 'id' })
        } %}
        <!-- /Latest articles -->

        <!-- Uploads -->
        {% include 'partials/uploads_list.html.twig' with {
            'uploads': lastUploads,
            'title': 'Файлы',
            'ajax_buttons': false,
            'link_to_content_item': path('app.view_knowledge', {'id': 'id' })
        } %}
        {#<!-- /Uploads -->#}

        <!-- /Uploads -->

    </div>
    <!-- /CONTENT AREA -->
{% endblock %}

{% block modals %}
    {% include 'partials/modals/file_info.html.twig' %}
{% endblock %}