{% extends 'base.html.twig' %}

{% block sidebar %}
    {% include 'partials/sidebars/uploads.html.twig' %}
{% endblock %}

{% block page_content_wrapper %}
    <!-- CONTENT HEADER -->

    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
                    <a href="{{ path('app.uploads_index') }}" class="breadcrumb-item">Загрузки</a>
                    <span class="breadcrumb-item active">Поиск</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header-content">

        <div class="page-title d-flex">

            <h1><span class="font-weight-bold">Поиск</span></h1>
        </div>


    </div>


    <!-- /CONTENT HEADER -->

    <!-- CONTENT AREA -->

    <div class="content">


        <!-- Uploads -->
        {% include 'partials/uploads_list.html.twig' with {
            'uploads': uploads,
            'title': 'Файлы',
            'ajax_buttons': true,
            'link_to_content_item': path('app.view_knowledge', {'id': 'id' })
        } %}
        {#<!-- /Uploads -->#}

    </div>

    <!-- /CONTENT AREA -->
{% endblock %}