{% extends 'base.html.twig' %}

{% set return_link = '' %}

{% if uploadCategory.parent is null %}
    {% set return_link = path('app.uploads_index') %}
{% else %}
    {% set return_link = path('app.view_upload_category', {'id': uploadCategory.parent.id}) %}
{% endif %}

{% block page_content_wrapper %}
    <!-- CONTENT HEADER -->

    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
                    <a href="{{ path('app.uploads_index') }}" class="breadcrumb-item">Загрузки</a>
                    {% for key, val in breadcrumbs %}
                        <a href="{{ path('app.view_upload_category', {'id': val}) }}" class="breadcrumb-item">
                            {{ key }}
                        </a>
                    {% endfor %}
                    <span class="breadcrumb-item active">{{ uploadCategory.name }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header-content header-elements-md-inline">

        <div class="page-title d-flex">

            <h1>
                <span class="font-weight-bold">
                    <a href="{{ return_link }}" class="text-default">
                        <i class="icon-arrow-left52 mr-3"></i>
                    </a>
                    {{ uploadCategory.name }}
                </span>
            </h1>
        </div>


        <div class="header-elements">
            {% if access == 2 %}
                <div class="btn-group">
                    <button class="btn bg-success btn-icon dropdown-toggle" data-toggle="dropdown"><i
                                class="icon-plus-circle2 mr-2"></i>Добавить
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a href="{{ path('app.add_upload_category_form') }}" class="dropdown-item">Категорию</a>
                        {% endif %}
                        <a href="{{ path('app.uploads_add_file') }}" class="dropdown-item">Файл</a>
                    </div>
                </div>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('app.edit_upload_category_form', {'id': uploadCategory.id}) }}"
                       class="btn bg-grey-300 btn-icon ml-2">
                        <i class="icon-gear"></i>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>


    <!-- /CONTENT HEADER -->

    <!-- CONTENT AREA -->

    <div class="content">

        <!-- Categories -->
        {% if categories is not empty %}
            {% include 'partials/categories_list_block.html.twig' with {
                'categories': categories,
                'title': 'Подкатегории',
                'link_to_category': path('app.view_upload_category',  {'id': 'id'}),
                'upload_files': true
            } %}
        {% endif %}
        <!-- /Categories -->

        {#<!-- Uploads -->#}
        {% include 'partials/uploads_list.html.twig' with {
            'uploads': attachments,
            'title': 'Файлы',
            'ajax_buttons': true
        } %}
        {#<!-- /Uploads -->#}

    </div>

    <!-- /CONTENT AREA -->
{% endblock %}