{% extends 'base.html.twig' %}

{% block page_content_wrapper %}
    <!-- CONTENT HEADER -->

    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
                    <a href="{{ path('app.uploads_index') }}" class="breadcrumb-item">Загрузки</a>
                    <span class="breadcrumb-item active">Добавить файл</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header-content header-elements-inline">

        <div class="page-title d-flex">

            <h1><span class="font-weight-bold"><a href="{{ path('app.view_upload_category', {'id': category.id}) }}"
                                                  class="text-default"><i
                                class="icon-arrow-left52 mr-3"></i></a>Добавить файл</span></h1>
        </div>


    </div>


    <!-- /CONTENT HEADER -->

    <!-- CONTENT AREA -->

    <div class="content">


        <!-- Add file -->
        <div class="card">

            {{ form_start(form) }}
            <div class="table-responsive">

                <table class="table">
                    <thead class="bg-light">
                    <tr>
                        <th>Параметр</th>
                        <th>Значение</th>

                    </tr>

                    </thead>

                    <tbody>

                    <tr>

                        <td class="font-weight-semibold">
                            {{ form_label(form.name) }}
                        </td>

                        <td>
                            {{ form_widget(form.name) }}
                        </td>
                    </tr>
                    <tr>

                        <td class="font-weight-semibold">
                            {{ form_label(form.description) }}
                        </td>

                        <td>
                            {{ form_widget(form.description) }}
                        </td>
                    </tr>
                    <tr>

                        <td class="font-weight-semibold">{{ form_label(form.file) }}</td>

                        <td>
                            {{ form_widget(form.file) }}
                            <div class="alert alert-primary mt-3">
                                <ul class="mb-0">
                                    <li>Допустимые форматы: <span class="font-weight-semibold">PNG, GIF, JPEG, JPG, PDF, ZIP, RAR</span>
                                    </li>
                                    <li>Максимальный размер файла: 20 МБ</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% if form.hidden is defined %}
                        <tr>

                            <td class="font-weight-semibold">{{ form_label(form.hidden) }}</td>

                            <td>
                                {{ form_widget(form.hidden) }}
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>

                </table>

            </div>
            <div class="card-footer pt-5 bg-white border-0 d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a href="uploads_category_view.html" class="btn btn-light">Отменить</a>
            </div>
            {{ form_end(form) }}
        </div>
        <!-- /Add file -->


    </div>

    <!-- /CONTENT AREA -->
{% endblock %}