{% extends 'base.html.twig' %}

{% set return_link = '' %}

{% if category is defined %}
    {% set return_link = path('app.view_upload_category', {'id': category.id }) %}
{% else %}
    {% set return_link = path('app.uploads_index') %}
{% endif %}

{% block page_content_wrapper %}
    <!-- CONTENT HEADER -->
    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
                    <a href="{{ path('app.uploads_index') }}" class="breadcrumb-item">Загрузки</a>
                    {% if category is defined %}
                    <a href="{{ path('app.view_upload_category', {'id': category.id}) }}" class="breadcrumb-item">
                        {{ category.name }}
                    </a>
                    {% endif %}
                    <span class="breadcrumb-item active">Добавить категорию</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header-content header-elements-inline">

        <div class="page-title d-flex">

            <h1>
                <span class="font-weight-bold">
                    <a href="{{ return_link }}" class="text-default">
                        <i class="icon-arrow-left52 mr-3"></i>
                    </a>
                    {{ page_header_text }}
                </span>
            </h1>
        </div>

        {% if category is defined %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="header-elements">
                    {% if selectedCategoryId is not null %}
                        <a href="#" class="btn bg-danger btn-icon ml-2 legitRipple" data-toggle="modal"
                           data-target="#modal_delete_confirmation"><i class="icon-trash"></i></a>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}


    </div>


    <!-- /CONTENT HEADER -->

    <!-- CONTENT AREA -->

    <div class="content">


        <!-- Add category -->
        <div class="card">
            {{ form_start(form) }}
            <div class="table-responsive">

                <table class="table">
                    <thead class="bg-light">
                    <tr>
                        <th>Параметр</th>
                        <th>Значение</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td class="font-weight-semibold">
                            {{ form_label(form.parent) }}
                        </td>
                        <td>
                            {{ form_widget(form.parent) }}
                        </td>
                    </tr>
                    <tr>

                        <td class="font-weight-semibold">
                            {{ form_label(form.name) }}
                        </td>

                        <td>
                            {{ form_widget(form.name) }}
                        </td>
                    </tr>
                    <tr>

                        <td class="font-weight-semibold">
                            {{ form_label(form.hidden) }}
                        </td>

                        <td>
                            <div class="form-group my-2">
                                {{ form_widget(form.hidden) }}
                            </div>

                        </td>
                    </tr>
                    </tbody>

                </table>

            </div>
            <div class="card-footer pt-5 bg-white border-0 d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a href="{{ return_link }}"
                   class="btn btn-light">Отменить</a>
            </div>
            {{ form_end(form) }}
        </div>
        <!-- /Add category -->

        {% if selectedCategoryId is not null %}
            {% include 'partials/modals/delete_confirmation_modal.html.twig' with {
                'removePath': path('app.remove_upload_category', {'id': selectedCategoryId})
            } %}
        {% endif %}

    </div>

    <!-- /CONTENT AREA -->

{% endblock %}