{% if categories is not empty %}

    <div class="card">
        <div class="card-header">
            <h4 class="card-title font-weight-bold">{{ title }}</h4>
        </div>
        <div class="table-responsive">

            <table class="table table-hover">
                <thead class="bg-light">
                <tr>
                    <th>Название</th>
                    {% if task_counter is defined %}
                        <th style="width:150px;">Новые</th>
                        <th style="width:150px;">В работе</th>
                        <th style="width:150px;">Завершённые</th>
                        <th style="width:150px;">Отменённые</th>
                    {% endif %}
                    {% if upload_files is defined %}
                        <th>Файлы</th>
                    {% endif %}
                </tr>
                </thead>

                {% if categories is iterable %}
                    {% for category in categories %}
                        <tr>
                            <td>
                                <a href="{{ link_to_category | replace({'id': category.id}) }}"
                                   class="text-default font-size-lg font-weight-semibold">
                                    <i class="icon-folder3 mr-3"></i>{{ category.name }}
                                    {% if category.hidden %}
                                        <i class="icon-eye-blocked text-grey-300 ml-2"></i>
                                    {% endif %}
                                </a>
                            </td>
                            {% if task_counter is defined %}
                                <td>{{ count_tasks(category, 'new', app.user) }}</td>
                                <td>{{ count_tasks(category, 'in_progress', app.user) }}</td>
                                <td>{{ count_tasks(category, 'completed', app.user) }}</td>
                                <td>{{ count_tasks(category, 'declined', app.user) }}</td>
                            {% endif %}
                            {% if upload_files is defined %}
                                <th>{{ upload_category_attachment(category, app.user) }}</th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for child in categories.children %}
                        <tr>

                            <td>
                                <a href="{{ link_to_category | replace({'id': child.id}) }}"
                                   class="text-default font-size-lg font-weight-semibold">
                                    <i class="icon-folder3 mr-3"></i>{{ child.name }}
                                    {% if child.hidden %}
                                        <i class="icon-eye-blocked text-grey-300 ml-2"></i>
                                    {% endif %}
                                </a>
                            </td>
                            {% if task_counter is defined %}
                                <td>{{ count_tasks(child, 'new', app.user) }}</td>
                                <td>{{ count_tasks(child, 'completed', app.user) }}</td>
                                <td>{{ count_tasks(child, 'declined', app.user) }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                {% endif %}

                <tbody>
                </tbody>

            </table>

        </div>
    </div>

{% endif %}