{#
Required parameters while include this partial to another templates
title - title of the block
contentItems - array of contentItems to generate list
ajax_buttons - AJAX-pagination to load more data | bool
#}
{% if contentItems is not empty %}
<div class="card">
    <div class="card-header header-elements-sm-inline">
        <h4 class="card-title font-weight-bold">{{ title }}</h4>
        <div class="header-elements">
            {% if status_row is defined %}

                {% set statuses = constant('App\\Controller\\AppController::TASK_STATUSES') %}
                <div class="wmin-sm-200">

                    <select data-placeholder="Все статусы" class="form-control multiselect" multiple="multiple"
                            {% if taskCategory is defined %}
                            data-parentcategory="{{ taskCategory.id }}"
                            {% endif %}
                            data-fouc data-role="multiselect" name="status_filter[]" id="task-filter-selector" required>
                        {% for key, value in statuses %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="table-responsive">

        <table class="table table-hover ajax-table"
               {% if tableId is defined %}id="{{ tableId }}"{% endif %}
        >
            <thead class="bg-light">
            <tr>
                <th>Название</th>
                {% if status_filter is defined %}
                    <th style="width:150px;">Статус</th>
                {% endif %}
                <th style="width:150px;">Дата создания</th>
                <th style="width:150px;">Пользователь</th>
            </tr>

            </thead>
             <tbody id="tbody"
                     {% if offset is defined %}data-offset="{{ offset }}"{% endif %}
                     {% if limit is defined %}data-limit="{{ limit }}"{% endif %}
             >

                {% for contentItem in contentItems %}
                    <tr>
                        <td>
                            <a href="{{ link_to_content_item | replace({'id': contentItem.id}) }}"
                               class="text-default font-size-lg font-weight-semibold">
                                <i class="icon-file-text2 mr-3"></i>
                                {{ contentItem.name }}
                                {% if contentItem.hidden %}
                                    <i class="icon-eye-blocked text-grey-300 ml-2"></i>
                                {% endif %}
                            </a>
                        </td>
                        {% if status_row is defined %}
                            <td>
                                {% set span_class = '' %}

                                {% if contentItem.status == 'new' %}
                                    {% set span_class = 'border-success text-success' %}
                                {% elseif contentItem.status == 'in_progress' %}
                                    {% set span_class = 'border-primary text-primary' %}
                                {% elseif contentItem.status == 'completed' %}
                                    {% set span_class = 'border-grey text-grey' %}
                                {% elseif contentItem.status == 'declined' %}
                                    {% set span_class = 'border-danger text-danger' %}
                                {% endif %}

                                <span class="badge badge-flat {{ span_class }}">
                                    {{ constant('App\\Controller\\AppController::TASK_STATUSES')[contentItem.status] }}
                                </span>
                            </td>
                        {% endif %}
                        <td>
                            {{ contentItem.createdAt | date('Y-m-d') }}
                        </td>
                        <td>
                            {{ contentItem.author.name }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
        </table>

    </div>
    {% if ajax_buttons %}
        <div class="card-footer pt-5 bg-white d-sm-flex border-top-0">
            <ul class="pagination pagination-sm pagination-pager pagination-pager justify-content-between">
                <li class="page-item">
                    <a href="#" class="page-link prev-page-btn"
                       {% if prev_btn is defined %}data-paginatorurl="{{ prev_btn }}"{% endif %}
                       {% if tableId is defined %}data-tableid="{{ tableId }}"{% endif %}
                    >&larr; Предыдущая</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link next-page-btn"
                       {% if next_btn is defined %}data-paginatorurl="{{ next_btn }}"{% endif %}
                            {% if tableId is defined %}data-tableid="{{ tableId }}"{% endif %}
                    >Следующая &rarr;</a>
                </li>
            </ul>
        </div>
    {% endif %}
</div>

    <script>
        $('#task-filter-selector').on('change', function () {
            let origin   = window.location.origin;   // Returns base URL (https://example.com)
            let filterParams = $(this).val();
            let tableId = $('.ajax-table').attr('id');
            let parentCategory = $(this).data('parentcategory');

            $.ajax({
                method: 'post',
                url: origin + '/tasks/filter-tasks',
                data: {
                    filterParams: filterParams,
                    parentCategory: parentCategory
                },
                success: function (data) {
                    $('#'+tableId+' tbody').html(data);
                }
            })
        })
    </script>
{% endif %}
