<div class="navbar navbar-expand-md navbar-dark bg-indigo navbar-static">

    <div class="navbar-brand mr-auto pr-4">
        <a href="{{ path('app.dashboard') }}">
            <img src="{{ asset('assets/img/logo_white.svg') }}" alt="">
        </a>
    </div>
    <div class="d-md-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-menu7"></i>
        </button>

    </div>


    <div class="collapse navbar-collapse" id="navbar-mobile">

        <ul class="navbar-nav">

            {% if app.user | task_section_button == true %}
                <li class="nav-item">
                    <a href="{{ path('app.tasks') }}" class="navbar-nav-link">
                        <i class="icon-task mr-2"></i>Задачи
                    </a>
                </li>
            {% endif %}

            {% if app.user | knowledge_section_button == true %}
                <li class="nav-item">
                    <a href="{{ path('app.knowledge_index') }}" class="navbar-nav-link">
                        <i class="icon-graduation mr-2"></i>База знаний
                    </a>
                </li>
            {% endif %}

            {% if app.user | uploads_section_button == true %}
                <li class="nav-item">
                    <a href="{{ path('app.uploads_index') }}" class="navbar-nav-link">
                        <i class="icon-upload mr-2"></i>Загрузки
                    </a>
                </li>
            {% endif %}

            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li class="nav-item">
                    <a href="{{ path('app.users_list') }}" class="navbar-nav-link">
                        <i class="icon-users mr-2"></i>Пользователи
                    </a>

                </li>
            {% endif %}
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li class="nav-item">
                    <a href="{{ path('app.settings') }}" class="navbar-nav-link">
                        <i class="icon-gear mr-2"></i>Настройки
                    </a>

                </li>
            {% endif %}

        </ul>


        <span class="navbar-text ml-md-3 mr-md-auto"></span>

        <ul class="navbar-nav">

            {% if hide_search_panel_btn == 'on' %}
            <li class="nav-item">
                <a href="#" class="navbar-nav-link sidebar-control sidebar-main-hide d-none d-md-block legitRipple">
                    <i class="icon-indent-decrease"></i></a>
            </li>
            {% endif %}

            <li class="nav-item">
                <a href="{{ path('fos_user_security_logout') }}" class="navbar-nav-link">
                    <i class="icon-switch2"></i>
                    <span class="d-md-none ml-2">Выйти</span></a>
            </li>
        </ul>

    </div>

</div>
