{% if uploads is not empty %}
<div class="card">

    <div class="card-header">
        <h4 class="card-title font-weight-bold">Файлы</h4>
    </div>
    <div class="table-responsive">

        <table class="table table-hover">
            <thead class="bg-light">
            <tr>
                <th style="width:100px;">ID</th>
                <th>Превью</th>

                <th>Файл</th>
                <th>Описание</th>
                {% if disable_date_row is not defined %}
                    <th style="width:130px;">Дата загрузки</th>
                {% endif %}
                {% if disable_user_row is not defined %}
                    <th>Пользователь</th>
                {% endif %}
                {% if disable_button_row is not defined %}
                    <th style="width:50px;"></th>
                {% endif %}
            </tr>

            </thead>

            <tbody>

            {% for uploadFile in uploads %}
                <tr>

                    <td>
                        {{ uploadFile.id }}
                        {% if uploadFile.hidden == true %}
                            <i class="icon-eye-blocked text-grey-300 ml-2"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="#" target="_blank">
                            {% if uploadFile.extension == 'png' or uploadFile.extension == 'gif' or uploadFile.extension == 'jpg' or uploadFile.extension == 'jpeg'    %}
                            <img src="{{ uploadFile.file }}" width="75" height="75"/>
                            {% endif %}
                        </a>
                    </td>

                    <td><a href="#" data-toggle="modal" data-target="#modal_upload_info_{{ uploadFile.id }}">
                            {{ uploadFile.name }}
                        </a>
                        <div class="text-muted">{{ uploadFile.id }}.{{ uploadFile.extension }}</div>
                    </td>

                    <td>{{ uploadFile.description }}</td>

                    {% if disable_date_row is not defined %}
                        <td>{{ uploadFile.createdAt | date('Y-m-d') }}</td>
                    {% endif %}

                    {% if disable_user_row is not defined %}
                        <td>{{ uploadFile.author.name }}</td>
                    {% endif %}

                    {% if disable_button_row is not defined %}
                        <td class="text-center">
                            <div class="list-icons-item dropdown">
                                <a href="#" class="list-icons-item dropdown-toggle caret-0"
                                   data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">

                                    <a href="#" class="dropdown-item" data-toggle="modal"
                                       data-target="#modal_upload_info_{{ uploadFile.id }}"><i class="icon-info3"></i>Подробнее</a>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <a href="#" class="dropdown-item" data-toggle="modal"
                                           data-target="#modal_delete_confirmation_{{ uploadFile.id }}"><i
                                                    class="icon-trash"></i>Удалить</a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    {% endif %}

                </tr>

                <!-- Upload info modal -->
                <div id="modal_upload_info_{{ uploadFile.id }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Информация о файле</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label class="col-sm-3 font-weight-semibold">Название</label>
                                    <div class="col-sm-9">
                                        {{ uploadFile.name }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 font-weight-semibold">Описание</label>
                                    <div class="col-sm-9">
                                        {{ uploadFile.description }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 font-weight-semibold">Загрузил</label>
                                    <div class="col-sm-9">
                                        {{ uploadFile.author.name }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 font-weight-semibold">Дата загрузки</label>
                                    <div class="col-sm-9">
                                        {{ uploadFile.createdAt | date('Y-m-d') }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-3 font-weight-semibold">Ссылка на файл</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="{{ uploadFile.file }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-3 font-weight-semibold">Публичная ссылка</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"
                                               {#value="{{ app.request.getSchemeAndHttpHost() ~ uploadFile.file | add_auth_key }}">#}
                                               value="{{ absolute_url(path('app.file_public_link', {'file': uploadFile.id, 'accessToken': get_auth_key()})) }}">
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer justify-content-between">

                                <a href="{{ uploadFile.file }}" download role="button"
                                   class="btn btn-outline-success"><i
                                            class="icon-arrow-down16 mr-2"></i>
                                    Загрузить
                                </a>

                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Отменить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Delete confirmation modal -->
                <div id="modal_delete_confirmation_{{ uploadFile.id }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <form method="post" action="{{ path('app.uploads_delete_file', {'id': uploadFile.id}) }}">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Подтвердить удаление</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>Вы собираетесь удалить файл {{ uploadFile.name }}. Вы уверены?</p>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="submit" class="btn btn-outline-danger"><i class="icon-trash mr-2"></i>Удалить
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Delete confirmation modal -->
                <!-- /Upload info modal -->
            {% endfor %}
            </tbody>

        </table>

    </div>
    {% if ajax_buttons == true %}
        <div class="card-footer pt-5 bg-white d-sm-flex border-top-0">
            <ul class="pagination pagination-sm pagination-pager pagination-pager justify-content-between">
                <li class="page-item disabled"><a href="#" class="page-link">&larr; Предыдущая</a></li>
                <li class="page-item"><a href="#" class="page-link">Следующая &rarr;</a></li>
            </ul>
        </div>

    {% endif %}
</div>
{% endif %}