{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('node_modules/summernote/dist/summernote.css') }}" rel="stylesheet" />
{% endblock %}


{% block page_content_wrapper %}{% endblock %}

{% block app_js %}
    <script src="{{ asset('node_modules/summernote/dist/summernote.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.summernote').summernote();
        });
    </script>
{% endblock %}