<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign in</title>
    <!-- Global stylesheets -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">

    <link href="{{ asset('assets/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">

    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

    <link href="{{ asset('assets/css/bootstrap_limitless.min.css') }}" rel="stylesheet" type="text/css">

    <link href="{{ asset('assets/css/layout.min.css') }}" rel="stylesheet" type="text/css">

    <link href="{{ asset('assets/css/components.min.css') }}" rel="stylesheet" type="text/css">

    <link href="{{ asset('assets/css/colors.min.css') }}" rel="stylesheet" type="text/css">

    <!-- /global stylesheets -->


    <!-- Core JS files -->

    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>

    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    {#<script src="global_assets/js/demo_pages/extra_trees.js"></script>#}
    {#<script src="global_assets/js/demo_pages/sidebar_secondary.js"></script>#}

    {#<script src="global_assets/js/plugins/loaders/blockui.min.js"></script>#}
    {#<script src="global_assets/js/plugins/ui/ripple.min.js"></script>#}

    {#<script src="global_assets/js/plugins/extensions/jquery_ui/core.min.js"></script>#}
    {#<script src="global_assets/js/plugins/extensions/jquery_ui/effects.min.js"></script>#}
    {#<script src="global_assets/js/plugins/extensions/jquery_ui/interactions.min.js"></script>#}
    {#<script src="global_assets/js/plugins/extensions/cookie.js"></script>#}
    {#<script src="global_assets/js/plugins/forms/styling/switchery.min.js"></script>#}
    {#<script src="global_assets/js/plugins/forms/styling/uniform.min.js"></script>#}
    {#<script src="global_assets/js/plugins/trees/fancytree_all.min.js"></script>#}
    {#<script src="global_assets/js/plugins/trees/fancytree_childcounter.js"></script>#}
    {#<script src="global_assets/js/plugins/ui/prism.min.js"></script>#}


    <!-- /core JS files -->


    <!-- Theme JS files -->

    <script src="{{ asset('assets/js/app.js') }}"></script>

    <!-- /theme JS files -->


</head>


<body>


<!-- Content area -->
<div class="content d-flex justify-content-center align-items-center">

    <!-- Login form -->

    {#<form class="login-form" action="{{ path('app.login_check') }}" method="post">#}
    <form class="login-form" method="post">
        <div class="card mb-0">

            <div class="card-body">
                <div class="text-center mb-3">

                    <i class="icon-user-lock icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>

                    <h5>Панель управления</h5>
                </div>

                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-warning">
                        {{ flashMessage }}
                    </div>

                {% endfor %}

                <div class="form-group form-group-feedback form-group-feedback-left">

                    <input type="text" class="form-control" id="email" name="_username"
                           value="{{ last_username }}"
                           placeholder="E-mail"
                           required="required" autocomplete="username"/>


                    {#<input type="text" class="form-control" placeholder="E-mail">#}
                    <div class="form-control-feedback">

                        <i class="icon-user text-muted"></i>

                    </div>

                </div>


                <div class="form-group form-group-feedback form-group-feedback-left">

                    <input type="password" class="form-control"
                           id="password" name="_password"
                           placeholder="Password"
                           required="required"
                           autocomplete="current-password"/>

                    <div class="form-control-feedback">

                        <i class="icon-lock2 text-muted"></i>

                    </div>

                </div>


                <div class="form-group">
                    <div class="g-recaptcha"
                         data-sitekey="6LdRfpEUAAAAAJXF7R8Tid_oJqfKlEQULmRbE9m0"
                         style="transform:scale(0.9);transform-origin:0;-webkit-transform:scale(0.9);transform:scale(0.9);-webkit-transform-origin:0 0;transform-origin:0 0;"
                    ></div>
                </div>
                <div class="form-group">

                    {#<button type="submit" class="btn btn-primary btn-block">Войти</button>#}
                    <button type="submit" class="btn btn-primary btn-block" id="_submit" name="_submit">Войти</button>

                </div>

            </div>

        </div>

    </form>

    <!-- /login form -->
</div>
<!-- /content area -->
</body>

</html>