<div id="modal_upload_info" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Информация о файле</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-3 font-weight-semibold">Название</label>
                    <div class="col-sm-9">
                        Скриншот #1 - Аккаунт
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 font-weight-semibold">Описание</label>
                    <div class="col-sm-9">
                        Скриншот 1600-900 англоязычной версии панели управления пользователя.
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 font-weight-semibold">Загрузил</label>
                    <div class="col-sm-9">
                        Иван Иванов
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 font-weight-semibold">Дата загрузки</label>
                    <div class="col-sm-9">
                        2018-11-30
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3 font-weight-semibold">Ссылка на файл</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" value="/uploads/2017/03/29/3.zip">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3 font-weight-semibold">Публичная ссылка</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control"
                               value="https://docs.datapo.com/uploads/2017/03/29/3.zip?authkey=JD9ccvSFvc8x">
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-success"><i class="icon-arrow-down16 mr-2"></i>Загрузить
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>
