<div class="breadcrumb-line breadcrumb-line-light">
    <div class="d-flex">
        <div class="breadcrumb">
            <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
            <a href="{{ path('app.tasks') }}" class="breadcrumb-item">Задачи</a>
            {% if breadcrumbs is defined %}
                {% for key, val in breadcrumbs %}
                    <a href="{{ path('app.view_knowledge_category', {'id': val}) }}" class="breadcrumb-item">
                        {{ key }}
                    </a>
                {% endfor %}
            {% endif %}

            {% if category is defined %}
                <a href="{{ path('app.view_task_category', {'id': task.category.id}) }}" class="breadcrumb-item">
                    {{ task.category.name }}
                </a>
            {% endif %}
            <span class="breadcrumb-item active">{{ activeBreadcrumbLabel }}</span>
        </div>
    </div>
</div>