{% set counter = ( counter | default(0) ) + 1 %}
{% set sectionId = '' %}
{% set no_user = false %}
{% if user is not defined %}
    {% set no_user = true %}
{% endif %}

{% for key, val in categories %}

    {% if data_section_id is defined %}
        {% set sectionId = data_section_id ~ key %}
    {% endif %}
    <section id="{{ sectionId }}">
        <div class="row">
            <div class="col-sm py-2">
                {% for i in range(0, counter-1) %}
                    {% if i==0 %}
                        {{ '' }}
                    {% else %}
                        {% for j in range(0, i-1) %}
                            {{ '-&nbsp;' }}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {{ val.parent }}
            </div>
            <div class="col-sm">
                {% if selectorPermissionCode is not defined %}
                    {% set selectorPermissionCode = '' %}
                {% endif %}
                {% include 'layouts/users/partials/access_level_selector.html.twig' with {
                    'id': key,
                    'field_name': field_name~key,
                    'data_section_id': sectionId,
                    'js_handler_class': 'category_selector',
                    'selectorPermissionCode': selectorPermissionCode | replace({'%id%': key}),
                    'editedUser': no_user ? null : user
                } %}
            </div>
        </div>
        {% if val.children is not empty %}
            {% if selectorPermissionCode is not defined %}
                {% set selectorPermissionCode = '' %}
            {% endif %}
            {% include "partials/includes/generate_tree.html.twig"
                with {
                'categories': val.children,
                'field_name': field_name,
                'parent_category': key,
                'selectorPermissionCode': selectorPermissionCode | replace({'%id%': key})
            } %}
        {% endif %}
    </section>
{% endfor %}