<!-- SIDEBAR -->
<div class="sidebar sidebar-light sidebar-main sidebar-expand-md">
    <!-- Sidebar mobile toggler -->

    <div class="sidebar-mobile-toggler text-center">

        <a href="#" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        <span class="font-weight-semibold">Навигация</span><a href="#" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i><i class="icon-screen-normal"></i>
        </a>
    </div>

    <!-- /sidebar mobile toggler -->


    <!-- Sidebar content -->

    <div class="sidebar-content">
        <form action="{{ path('app.tasks_search') }}" method="post">
            <!-- Calendar -->
            <div class="card">
                <div class="card-header bg-transparent">
                    <span class="text-uppercase font-size-sm font-weight-semibold">Дата создания</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="date"
                                       data-toggle="datepicker"
                                       autocomplete="off" class="form-control"
                                       name="date-from">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="date"
                                       data-toggle="datepicker"
                                       autocomplete="off" class="form-control"
                                       name="date-to">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Calendar -->

            <!-- Status -->
            <div class="card">
                <div class="card-header bg-transparent">
                    <span class="text-uppercase font-size-sm font-weight-semibold">Статус</span>
                </div>
                <div class="card-body">
                    {% set statuses = constant('App\\Controller\\AppController::TASK_STATUSES') %}
                    <select data-placeholder="Все статусы" class="form-control multiselect" multiple="multiple"
                            data-fouc data-role="multiselect" name="statuses[]">
                        {% for key, value in statuses %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- /Status -->

            <!-- Users -->
            <div class="card">
                {% set users = get_users() %}
                <div class="card-header bg-transparent">
                    <span class="text-uppercase font-size-sm font-weight-semibold">Пользователи</span>
                </div>
                <div class="card-body">
                    <select data-placeholder="Все пользователи" class="form-control multiselect" multiple="multiple"
                            data-fouc data-role="multiselect" name="users[]">
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- /Users -->

            <!-- Search query -->
            <div class="card">
                <div class="card-header bg-transparent">
                    <span class="text-uppercase font-size-sm font-weight-semibold">Поиск</span>
                </div>
                <div class="card-body">
                    <input type="text" class="form-control" name="keywords" placeholder="Что ищем?">
                    <button type="submit" class="btn btn-outline-primary btn-block mt-4">Найти</button>
                </div>
            </div>
            <!-- /Search query -->
        </form>
    </div>

    <!-- /sidebar content -->

</div>
<!-- /SIDEBAR -->