<thead class="bg-light">
<tr>
    <th>Название</th>
    {% if status_filter is defined %}
        <th style="width:150px;">Статус</th>
    {% endif %}
    <th style="width:150px;">Дата создания</th>
    <th style="width:150px;">Пользователь</th>
</tr>

</thead>
<tbody id="tbody"
        {% if offset is defined %}data-offset="{{ offset }}"{% endif %}
        {% if limit is defined %}data-limit="{{ limit }}"{% endif %}
>

{% for contentItem in contentItems %}
    <tr>
        <td>
            <a href="{{ link_to_content_item | replace({'id': contentItem.id}) }}"
               class="text-default font-size-lg font-weight-semibold">
                <i class="icon-file-text2 mr-3"></i>
                {{ contentItem.name }}
                {% if contentItem.hidden %}
                    <i class="icon-eye-blocked text-grey-300 ml-2"></i>
                {% endif %}
            </a>
        </td>
        {% if status_row is defined %}
            <td>
                {% set span_class = '' %}

                {% if contentItem.status == 'new' %}
                    {% set span_class = 'border-success text-success' %}
                {% elseif contentItem.status == 'in_progress' %}
                    {% set span_class = 'border-primary text-primary' %}
                {% elseif contentItem.status == 'completed' %}
                    {% set span_class = 'border-grey text-grey' %}
                {% elseif contentItem.status == 'declined' %}
                    {% set span_class = 'border-danger text-danger' %}
                {% endif %}

                <span class="badge badge-flat {{ span_class }}">
                                    {{ constant('App\\Controller\\AppController::TASK_STATUSES')[contentItem.status] }}
                                </span>
            </td>
        {% endif %}
        <td>
            {{ contentItem.createdAt | date('Y-m-d') }}
        </td>
        <td>
            {{ contentItem.author.name }}
        </td>
    </tr>
{% endfor %}

</tbody>