{% extends 'base.html.twig' %}

{% block page_content_wrapper %}
    <!-- CONTENT HEADER -->

    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
                    <span class="breadcrumb-item active">Настройки</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header-content">

        <div class="page-title d-flex">

            <h1><span class="font-weight-bold">Настройки</span></h1>
        </div>


    </div>


    <!-- /CONTENT HEADER -->

    <!-- CONTENT AREA -->

    <div class="content">


        <!-- Settings -->
        <div class="card">

            <div class="table-responsive">

                <table class="table table-hover">
                    <thead class="bg-light">
                    <tr>
                        <th>Параметр</th>
                        <th>Значение</th>
                        <th style="width:50px;"></th>
                    </tr>

                    </thead>

                    <tbody>

                    <tr>

                        <td>Публичный ключ для загрузок</td>
                        <td>{{ filesAuthKey }}</td>
                        <td class="text-center">
                            <div class="list-icons-item">
                                <a href="#" class="list-icons-item" data-toggle="modal"
                                   data-target="#modal_edit_fileskey"><i class="icon-gear"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>

                        <td>FTP для бэкапов</td>
                        <td>{{ backupFtpFile }}</td>
                        <td class="text-center">
                            <div class="list-icons-item">
                                <a href="#" class="list-icons-item" data-toggle="modal"
                                   data-target="#modal_edit_backup_ftp_file"><i class="icon-gear"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>

                        <td>Периодичность бэкапов (в днях)</td>
                        <td>{{ backupPeriodicity }}</td>
                        <td class="text-center">
                            <div class="list-icons-item">
                                <a href="#" class="list-icons-item" data-toggle="modal"
                                   data-target="#modal_edit_backup_periodicity_file"><i class="icon-gear"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>

            </div>
        </div>
        <!-- /Settings -->

    </div>

    {% include 'partials/modals/settings/edit_fileskey.html.twig' %}
    {% include 'partials/modals/settings/edit_backup_ftp_file.html.twig' %}
    {% include 'partials/modals/settings/edit_backup_periodicity_file.html.twig' %}
    <!-- /CONTENT AREA -->
{% endblock %}