{% set access_levels = constant('App\\Controller\\AppController::ACCESS_LEVELS') %}
{% set permission_code = get_category_permission_code(editedUser, field_name) %}

<select class="form-control select {% if js_handler_class is defined %}{{ js_handler_class }}{% endif %}"
        data-fouc
        name="{{ field_name }}"
        {% if parent_category is defined %}data-parent="{{ parent_category }}"{% endif %}
        {% if data_section_id is defined %}data-sectionid="{{ data_section_id }}"{% endif %}
>
    {% for key, val in access_levels %}
        <option value="{{ key }}" {% if permission_code == key %}selected{% endif %}>{{ val }}</option>
    {% endfor %}
</select>