<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block page_title %}{% endblock %}</title>

    {% block css %}
        <!-- Global stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/bootstrap_limitless.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/layout.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/components.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/colors.min.css') }}" rel="stylesheet" type="text/css">
        <!-- /global stylesheets -->
    {% endblock %}

    {% block theme_js %}
        <!-- Theme JS files -->
        <script src="{{ asset('assets/js/app.js') }}"></script>
        <!-- /theme JS files -->
    {% endblock %}

    {% block core_js %}
        <!-- Core JS files -->
        <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('node_modules/block-ui/jquery.blockUI.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap_multiselect.js') }}"></script>
        <!-- /core JS files -->
    {% endblock %}
</head>
<body>


<!-- MAIN NAVBAR -->
{% block navbar %}

    {% if hide_search_panel_btn is not defined %}
        {% set hide_search_panel_btn = 'off' %}
    {% endif %}

    {% include 'partials/navbar.html.twig' with {
        'hide_search_panel_btn': hide_search_panel_btn
    } %}
{% endblock %}
<!-- /MAIN NAVBAR -->


<!-- PAGE CONTENT -->
<div class="page-content">

    <!-- SIDEBAR -->
    {% block sidebar %}{% endblock %}
    <!-- /SIDEBAR -->

    <!-- CONTENT -->
    <div class="content-wrapper">
        {% block page_content_wrapper %}{% endblock %}
    </div>
    <!-- /CONTENT -->

</div>

<!-- /PAGE CONTENT -->


<!--  modal -->
{% block modals %}{% endblock %}
<!--  modal -->

{% block app_js %}
{% endblock %}
</body>

</html>