{% extends 'layouts/item_form_page.html.twig' %}

{% block page_content_wrapper %}

    <!-- CONTENT HEADER -->

    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
                    <a href="{{ path('app.tasks') }}" class="breadcrumb-item">Задачи</a>
                    {% for key, val in breadcrumbs %}
                        <a href="{{ path('app.view_task_category', {'id': val}) }}" class="breadcrumb-item">
                            {{ key }}
                        </a>
                    {% endfor %}
                    <a href="{{ path('app.view_task_category', {'id': task.category.id}) }}" class="breadcrumb-item">
                        {{ task.category.name }}
                    </a>
                    <span class="breadcrumb-item active">Редактировать задачу</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header-content header-elements-md-inline">

        <div class="page-title d-flex">

            <h1>
                <span class="font-weight-bold">
                    <a href="{{ path('app.view_task', {'id': task.id}) }}" class="text-default">
                        <i class="icon-arrow-left52 mr-3"></i>
                    </a>Редактировать задачу
                </span>
            </h1>
        </div>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="header-elements">
                <a href="#" class="btn bg-danger btn-icon ml-2 legitRipple" data-toggle="modal"
                   data-target="#modal_delete_confirmation"><i class="icon-trash"></i></a>
            </div>

            <!-- Delete confirmation modal -->
            <div id="modal_delete_confirmation" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Подтвердить удаление</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Вы собираетесь удалить эту статью. Вы уверены?</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <form action="{{ path('app.remove_task_action', {'id': task.id}) }}" method="post">
                                <button type="submit" class="btn btn-outline-danger"><i class="icon-trash mr-2"></i>Удалить</button>
                            </form>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Delete confirmation modal -->

        {% endif %}


    </div>


    <!-- /CONTENT HEADER -->

    <!-- CONTENT AREA -->

    <div class="content">


        <!-- Edit task -->
        <div class="card">
            {{ form_start(form) }}
            <div class="table-responsive">

                <table class="table">
                    <thead class="bg-light">
                    <tr>
                        <th>Параметр</th>
                        <th>Значение</th>

                    </tr>

                    </thead>

                    <tbody>

                    <tr>

                        <td class="font-weight-semibold">
                            {{ form_label(form.name) }}
                        </td>

                        <td>
                            {{ form_widget(form.name) }}
                        </td>
                    </tr>
                    {% if form.children.status is defined %}
                        <tr>

                            <td class="font-weight-semibold">
                                {{ form_label(form.status) }}
                            </td>

                            <td>
                                {{ form_widget(form.status) }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>

                        <td class="font-weight-semibold">
                            {{ form_label(form.category) }}
                        </td>

                        <td>
                            {{ form_widget(form.category) }}
                        </td>
                    </tr>
                    <tr>

                        <td class="font-weight-semibold">
                            {{ form_label(form.description) }}
                        </td>

                        <td>
                            {{ form_widget(form.description) }}
                            <div class="alert alert-primary mt-3">
                                <ul class="mb-0">
                                    <li>Важно! Текст задачи необходимо указывать с HTML-разметкой</li>
                                    <li>В текст задачи можно вставлять файлы из раздела "<span
                                                class="font-weight-semibold">Загрузки</span>"
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>

                        <td class="font-weight-semibold">
                            {{ form_label(form.attachments) }}
                        </td>

                        <td>
                            {% if task is defined %}
                                {% set value = [] %}
                                {% for attahcment in task.attachments %}
                                    {% set value = value | merge([attahcment.id]) %}
                                {% endfor %}
                                {{ form_widget(form.attachments, {'attr': {'value': value|join(', ')}}) }}
                            {% else %}
                                {{ form_widget(form.attachments, {'attr': {'value': null }}) }}
                            {% endif %}
                            {#{{ form_widget(form.attachments) }}#}
                        </td>
                    </tr>
                    {% if form.hidden is defined %}
                    <tr>

                        <td class="font-weight-semibold">
                            {{ form_label(form.hidden) }}
                        </td>
                        <td>
                            {{ form_widget(form.hidden) }}
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>

                </table>

            </div>
            <div class="card-footer pt-5 bg-white border-0 d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a href="tasks_category_view.html" class="btn btn-light">Отменить</a>
            </div>
        </div>
        {{ form_end(form) }}
        <!-- /Edit task -->

        <!-- Uploads -->
        {% if allowedAttachments is not empty %}
            <!-- Uploads -->
            {% include 'partials/uploads_list.html.twig' with {
                'uploads': allowedAttachments,
                'ajax_buttons': true
            } %}
        {% endif %}
        <!-- /Uploads -->

    </div>

    <!-- /CONTENT AREA -->


    </div>

    <!-- /CONTENT -->
{% endblock %}