{% extends 'base.html.twig'%}

{% set hide_search_panel_btn = 'on' %}

{% block sidebar %}
    {% include 'partials/sidebars/tasks.html.twig' %}
{% endblock %}

{% block page_content_wrapper %}
    <!-- CONTENT HEADER -->

    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
                    <span class="breadcrumb-item active">Задачи</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header-content header-elements-inline">

        <div class="page-title d-flex">

            <h1><span class="font-weight-bold">Задачи</span></h1>
        </div>


        <div class="header-elements">
            {% if access == 2 and is_granted('ROLE_SUPER_ADMIN') %}
                <div class="btn-group">
                    <button class="btn bg-success btn-icon dropdown-toggle" data-toggle="dropdown"><i
                                class="icon-plus-circle2 mr-2"></i>Добавить
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{{ path('app.add_task_category_form') }}" class="dropdown-item">Категорию</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


    <!-- /CONTENT HEADER -->

    <!-- CONTENT AREA -->

    <div class="content">


        <!-- Categories -->
        {% include 'partials/categories_list_block.html.twig' with {
            'categories': tasksCategories,
            'title': 'Категории',
            'link_to_category': path('app.view_task_category',  {'id': 'id'}),
            'task_counter': true
        } %}
        <!-- /Categories -->

        <!-- Tasks -->
        {% include 'partials/content_list_block.html.twig' with {
            'contentItems': lastTasks,
            'title': 'Новые задачи',
            'ajax_buttons': false,
            'link_to_content_item': path('app.view_task', {'id': 'id' }),
            'status_row': true,
            'status_filter': true,
            'tableId': 'tasks-table'
        } %}
        <!-- /Tasks -->

    </div>

    <!-- /CONTENT AREA -->
{% endblock %}

{% block app_js %}
{% endblock %}