{% extends 'layouts/item_form_page.html.twig' %}

{% block page_content_wrapper %}
    <!-- CONTENT HEADER -->

    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
                    <a href="{{ path('app.tasks') }}" class="breadcrumb-item">Задачи</a>
                    {% for key, val in breadcrumbs %}
                        <a href="{{ path('app.view_task_category', {'id': val}) }}" class="breadcrumb-item">
                            {{ key }}
                        </a>
                    {% endfor %}
                    <a href="{{ path('app.view_task_category', {'id': category.id}) }}"
                       class="breadcrumb-item">{{ category.name }}</a>
                    <span class="breadcrumb-item active">Добавить задачу</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header-content">

        <div class="page-title d-flex">

            <h1>
                <span class="font-weight-bold">
                    <a href="{{ path('app.view_task_category', {'id': selectedCategoryId }) }}" class="text-default">
                        <i class="icon-arrow-left52 mr-3"></i>
                    </a>
                    Добавить задачу
                </span>
            </h1>
        </div>


    </div>


    <!-- /CONTENT HEADER -->

    <!-- CONTENT AREA -->

    <div class="content">


        <!-- Add task -->
        <div class="card">

            {{ form_start(form) }}
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-light">
                    <tr>
                        <th>Параметр</th>
                        <th>Значение</th>

                    </tr>

                    </thead>

                    <tbody>

                    <tr>

                        <td class="font-weight-semibold">
                            {{ form_label(form.category) }}
                        </td>

                        <td>{{ form_widget(form.category) }}</td>
                    </tr>
                    <tr>

                        <td class="font-weight-semibold">
                            {{ form_label(form.name) }}
                        </td>

                        <td>
                            {{ form_widget(form.name) }}
                        </td>
                    </tr>
                    {% if form.children.status is defined %}
                        <tr>

                            <td class="font-weight-semibold">
                                {{ form_label(form.status) }}
                            </td>

                            <td>
                                {{ form_widget(form.status) }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>

                        <td class="font-weight-semibold">
                            {{ form_label(form.description) }}
                        </td>

                        <td>
                            {{ form_widget(form.description) }}
                            <div class="alert alert-primary mt-3">
                                <ul class="mb-0">
                                    <li>Важно! Текст задачи необходимо указывать с HTML-разметкой</li>
                                    <li>В текст задачи можно вставлять файлы из раздела "<span
                                                class="font-weight-semibold">Загрузки</span>"
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>

                        <td class="font-weight-semibold">
                            {{ form_label(form.attachments) }}
                        </td>

                        <td>
                            {{ form_widget(form.attachments) }}
                        </td>
                    </tr>

                    {% if form.hidden is defined %}
                        <tr>

                            <td class="font-weight-semibold">
                                {{ form_label(form.hidden) }}
                            </td>

                            <td>
                                {{ form_widget(form.hidden) }}
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>

                </table>

            </div>
            <div class="card-footer pt-5 bg-white border-0 d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a href="{{ path('app.view_task_category', {'id': selectedCategoryId }) }}" class="btn btn-light">Отменить</a>
            </div>
            {{ form_end(form) }}
        </div>
        <!-- /Add task -->

    </div>

    <!-- /CONTENT AREA -->
{% endblock %}