{% extends 'base.html.twig' %}

{% set span_class = '' %}

{% if task.status == 'new' %}
    {% set span_class = 'border-success text-success' %}
{% elseif task.status == 'in_progress' %}
    {% set span_class = 'border-primary text-primary' %}
{% elseif task.status == 'completed' %}
    {% set span_class = 'border-grey text-grey' %}
{% elseif task.status == 'declined' %}
    {% set span_class = 'border-danger text-danger' %}
{% endif %}

{% block page_content_wrapper %}
    <!-- CONTENT AREA -->

    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
                    <a href="{{ path('app.tasks') }}" class="breadcrumb-item">Задачи</a>
                    {% for key, val in breadcrumbs %}
                        <a href="{{ path('app.view_task_category', {'id': val}) }}" class="breadcrumb-item">
                            {{ key }}
                        </a>
                    {% endfor %}
                    <a href="{{ path('app.view_task_category', {'id': task.category.id}) }}"
                       class="breadcrumb-item">{{ task.category.name }}</a>
                    <span class="breadcrumb-item active">{{ task.name }}</span>
                </div>
            </div>
        </div>

        <!-- CONTENT HEADER -->
        <div class="page-header-content header-elements-md-inline">

            <div class="page-title d-flex">

                <h1><span class="font-weight-bold"><a
                                href="{{ path('app.view_task_category', {'id': task.category.id}) }}"
                                class="text-default"><i
                                    class="icon-arrow-left52 mr-3"></i></a>{{ task.name }}</span></h1>
            </div>


            <!-- EDIT TASK LINK -->
            {% if accessLevel == 2 %}
            <div class="header-elements">
                <a href="{{ path('app.edit_task_form', {'id': task.id}) }}" class="btn bg-grey-300 btn-icon ml-2"><i
                            class="icon-gear"></i></a>
            </div>
            {% endif %}
            <!-- /EDIT TASK LINK -->
        </div>
        <!-- /CONTENT HEADER -->

    </div>

    <div class="content">


        <!-- Task -->
        <div class="card">
            <div class="card-header header-elements-sm-inline">
                <div class="header-elements">
                    <ul class="list-inline mb-0 text-muted">
                        <li class="list-inline-item">
                            <span class="badge badge-flat {{ span_class }}">{{ constant('App\\Controller\\AppController::TASK_STATUSES')[task.status] }}</span>
                        </li>
                        <li class="list-inline-item">{{ task.author.username }}</li>
                        <li class="list-inline-item">{{ task.createdAt | date('Y-m-d') }}</li>
                    </ul>
                </div>
            </div>
            <div class="card-body font-size-lg">
                {{ task.description | raw }}
            </div>
        </div>
        <!-- /Task -->

        {% if allowedAttachments is not empty %}
            <!-- Uploads -->
            {% include 'partials/uploads_list.html.twig' with {
                'uploads': allowedAttachments,
                'ajax_buttons': true,
                'disable_date_row': true,
                'disable_user_row': true,
                'disable_button_row': true
            } %}
        {% endif %}
        <!-- /Uploads -->

        <!-- Comments -->
        <form action="{{ path('app.task_add_comment', {'id': task.id}) }}" method="post">
            <div class="card">

                <div class="card-header">

                    <h6 class="card-title font-weight-semibold">Комментарии</h6>

                </div>

                <div class="card-body">

                    <ul class="media-list media-chat mb-3">


                        {% for comment in task.comments %}

                            {% set reverseClass = '' %}

                            {% if comment.isAuthor == true %}
                                {% set reverseClass = 'media-chat-item-reverse' %}
                            {% endif %}

                            <li class="media {{ reverseClass }}">

                                {% if comment.isAuthor == false %}
                                    <div class="ml-3"></div>
                                {% endif %}
                                <div class="media-body">
                                    <div class="media-chat-item">{{ comment.userComment }}</div>
                                    <ul class="list-inline mb-0 text-muted mt-2">
                                        <li class="list-inline-item">{{ comment.user.name }}</li>
                                        <li class="list-inline-item">{{ comment.createdAt | date('Y-m-d H:i') }}</li>
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <textarea name="user-comment" class="form-control" rows="3" cols="1"
                              placeholder="Введите сообщение..."></textarea>
                </div>
                <div class="card-footer bg-white border-0 d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn bg-success">Отправить</button>
                </div>

            </div>
        </form>

        <!-- /Comments -->

    </div>

    <!-- /CONTENT AREA -->
{% endblock %}