<!-- Edit settings modal -->
<div id="modal_edit_fileskey" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактирование настроек</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form method="post" action="{{ path('app.setting_save_file_auth_key') }}">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 font-weight-semibold">Публичный ключ для загрузок</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="{{ filesAuthKey }}" name="fileAuthKey">
                        </div>
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="submit" class="btn btn-outline-success">Сохранить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Edit settings modal -->