{% extends 'base.html.twig' %}

{% set hide_search_panel_btn = 'on' %}

{% block sidebar %}
    {% include 'partials/sidebars/knowledge.html.twig' %}
{% endblock %}

{% block page_content_wrapper %}
    <!-- CONTENT HEADER -->

    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
                    <span class="breadcrumb-item active">База знаний</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header-content header-elements-inline">

        <div class="page-title d-flex">

            <h1><span class="font-weight-bold">База знаний</span></h1>
        </div>


        <div class="header-elements">
            {% if access == 2 %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="btn-group">
                        <button class="btn bg-success btn-icon dropdown-toggle" data-toggle="dropdown"><i
                                    class="icon-plus-circle2 mr-2"></i>Добавить
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{{ path('app.add_knowledge_category_form') }}" class="dropdown-item">Категорию</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>


    <!-- /CONTENT HEADER -->

    <!-- CONTENT AREA -->

    <div class="content">


        <!-- Categories -->
        {% include 'partials/categories_list_block.html.twig' with {
            'categories': knowledgeCategories,
            'title': 'Категории',
            'link_to_category': path('app.view_knowledge_category',  {'id': 'id'})
        } %}
        <!-- /Categories -->

        <!-- Tasks -->
        {% if lastKnowledgeAdded is not empty %}
        {% include 'partials/content_list_block.html.twig' with {
            'contentItems': lastKnowledgeAdded,
            'title': 'Статьи',
            'ajax_buttons': true,
            'link_to_content_item': path('app.view_knowledge', {'id': 'id' })
        } %}
        {% endif %}
        <!-- /Tasks -->

    </div>

    <!-- /CONTENT AREA -->
{% endblock %}