{% extends 'base.html.twig' %}

{% block page_content_wrapper %}
    <!-- CONTENT AREA -->

    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
                    <a href="{{ path('app.knowledge_index') }}" class="breadcrumb-item">База знаний</a>
                    {% for key, val in breadcrumbs %}
                        <a href="{{ path('app.view_knowledge_category', {'id': val}) }}" class="breadcrumb-item">
                            {{ key }}
                        </a>
                    {% endfor %}
                    <a href="{{ path('app.view_knowledge_category', {'id': category.id}) }}"
                       class="breadcrumb-item">{{ category.name }}</a>
                    <span class="breadcrumb-item active">{{ knowledge.name }}</span>
                </div>
            </div>
        </div>

        <!-- CONTENT HEADER -->
        <div class="page-header-content header-elements-md-inline">

            <div class="page-title d-flex">

                <h1><span class="font-weight-bold"><a href="{{ path('app.view_knowledge_category', {'id': category.id}) }}"
                                                      class="text-default"><i
                                    class="icon-arrow-left52 mr-3"></i></a>{{ knowledge.name }}</span></h1>
            </div>


            <!-- EDIT TASK LINK -->
            {% if accessLevel == 2 %}
            <div class="header-elements">
                <a href="{{ path('app.edit_knowledge_article_form', {'id': knowledge.id}) }}"
                   class="btn bg-grey-300 btn-icon ml-2"><i class="icon-gear"></i></a>
            </div>
            {% endif %}
            <!-- /EDIT TASK LINK -->
        </div>
        <!-- /CONTENT HEADER -->

    </div>

    <div class="content">


        <!-- Task -->
        <div class="card">
            <div class="card-header header-elements-sm-inline">
                <div class="header-elements">
                    <ul class="list-inline mb-0 text-muted">
                        <li class="list-inline-item">{{ knowledge.author.username }}</li>
                        <li class="list-inline-item">{{ knowledge.createdAt | date('Y-m-d') }}</li>
                    </ul>
                </div>
            </div>
            <div class="card-body font-size-lg">
                {{ knowledge.description | raw }}
            </div>
        </div>
        <!-- /Task -->

        <!-- Uploads -->
        {% if allowedAttachments is not empty %}
            <!-- Uploads -->
            {% include 'partials/uploads_list.html.twig' with {
                'uploads': allowedAttachments,
                'ajax_buttons': true,
                'disable_date_row': true,
                'disable_user_row': true,
                'disable_button_row': true
            } %}
        {% endif %}
        <!-- /Uploads -->

    </div>

    <!-- /CONTENT AREA -->
{% endblock %}