{% extends 'base.html.twig' %}

{% set return_link = '' %}

{% if knowledgeCategory.parent is null %}
    {% set return_link = path('app.knowledge_index') %}
{% else %}
    {% set return_link = path('app.view_knowledge_category', {'id': knowledgeCategory.parent.id}) %}
{% endif %}

{% block page_content_wrapper %}
    <!-- CONTENT HEADER -->

    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
                    <a href="{{ path('app.knowledge_index') }}" class="breadcrumb-item">База знаний</a>
                    {% for key, val in breadcrumbs %}
                        <a href="{{ path('app.view_knowledge_category', {'id': val}) }}" class="breadcrumb-item">
                            {{ key }}
                        </a>
                    {% endfor %}
                    <span class="breadcrumb-item active">{{ knowledgeCategory.name }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header-content header-elements-md-inline">

        <div class="page-title d-flex">

            <h1>
                <span class="font-weight-bold">
                    <a href="{{ return_link }}" class="text-default">
                        <i class="icon-arrow-left52 mr-3"></i>
                    </a>
                    {{ knowledgeCategory.name }}
                </span>
            </h1>
        </div>


        <div class="header-elements">
            {% if access == 2 %}
                <div class="btn-group">
                    <button class="btn bg-success btn-icon dropdown-toggle" data-toggle="dropdown"><i
                                class="icon-plus-circle2 mr-2"></i>Добавить
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a href="{{ path('app.add_knowledge_category_form') }}" class="dropdown-item">Категорию</a>
                        {% endif %}
                        <a href="{{ path('app.add_article_form_action') }}" class="dropdown-item">Статью</a>
                    </div>
                </div>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('app.edit_knowledge_category_form', {'id': knowledgeCategory.id}) }}"
                       class="btn bg-grey-300 btn-icon ml-2">
                        <i class="icon-gear"></i>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>


    <!-- /CONTENT HEADER -->

    <!-- CONTENT AREA -->

    <div class="content">

        <!-- Categories -->
        {% if knowledgeCategory.children is not empty %}
            {% include 'partials/categories_list_block.html.twig' with {
                'categories': categories,
                'title': 'Подкатегории',
                'link_to_category': path('app.view_knowledge_category',  {'id': 'id'})
            } %}
        {% endif %}
        <!-- /Categories -->

        <!-- Tasks -->
        {% include 'partials/content_list_block.html.twig' with {
            'category': knowledgeCategory,
            'contentItems': lastKnowledgeArticles,
            'title': 'Статьи',
            'ajax_buttons': true,
            'link_to_content_item': path('app.view_knowledge', {'id': 'id' }),
            'next_btn': path('app.show_next_articles', {'id': knowledgeCategory.id}),
            'prev_btn': path('app.show_prev_articles', {'id': knowledgeCategory.id})
        } %}
        <!-- /Tasks -->

    </div>

    <!-- /CONTENT AREA -->
{% endblock %}


{% block app_js %}
    <script>
        $('.next-page-btn').on('click', function (e) {
            e.preventDefault();
            let url = $(this).data('paginatorurl');
            let tableId = $(this).data('tableid');
            let offset = $('table#' + tableId + ' tbody').data('offset');
            let limit = $('table#' + tableId + ' tbody').data('limit');

            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    'limit': limit,
                    'offset': offset
                },
                success: function (data) {
                    $('table#' + tableId).html(data);
                }
            })
        })

        $('.prev-page-btn').on('click', function (e) {
            e.preventDefault();
            let url = $(this).data('paginatorurl');
            let tableId = $(this).data('tableid');
            let offset = $('table#' + tableId + ' tbody').data('offset');
            let limit = $('table#' + tableId + ' tbody').data('limit');

            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    'limit': limit,
                    'offset': offset
                },
                success: function (data) {
                    $('table#' + tableId).html(data);
                }
            })
        })
    </script>
{% endblock %}