{% extends 'base.html.twig' %}

{% block sidebar %}
    {% include 'partials/sidebars/knowledge.html.twig' %}
{% endblock %}

{% block page_content_wrapper %}
    <!-- CONTENT HEADER -->

    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
                    <a href="{{ path('app.knowledge_index') }}" class="breadcrumb-item">База знаний</a>
                    <span class="breadcrumb-item active">Поиск</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header-content">

        <div class="page-title d-flex">

            <h1><span class="font-weight-bold">Поиск</span></h1>
        </div>


    </div>


    <!-- /CONTENT HEADER -->

    <!-- CONTENT AREA -->

    <div class="content">


        <!-- Tasks -->
        {% include 'partials/content_list_block.html.twig' with {
        'contentItems': articles,
        'title': 'Статьи',
        'ajax_buttons': false,
        'link_to_content_item': path('app.view_knowledge', {'id': 'id' })
        } %}

        <!-- /Tasks -->

    </div>

    <!-- /CONTENT AREA -->
{% endblock %}