{% extends 'base.html.twig' %}

{% block page_content_wrapper %}
    <!-- CONTENT HEADER -->

    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
                    <span class="breadcrumb-item active">Пользователи</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header-content header-elements-inline">

        <div class="page-title d-flex">

            <h1><span class="font-weight-bold">Пользователи</span></h1>
        </div>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="header-elements">
            <a href="{{ path('app.users_add') }}" class="btn bg-success btn-icon">
                <i class="icon-plus-circle2 mr-2"></i>Добавить</a>
        </div>
        {% endif %}
    </div>


    <!-- /CONTENT HEADER -->

    <!-- CONTENT AREA -->

    <div class="content">


        <!-- Users -->
        <div class="card">

            <div class="table-responsive">

                <table class="table table-hover">
                    <thead class="bg-light">
                    <tr>
                        <th>E-mail</th>
                        <th>Имя</th>
                        <th>Роль</th>
                        <th>Статус</th>
                        <th>Дата регистрации</th>

                        <th>Последний вход</th>

                        <th style="width:50px;"></th>
                    </tr>

                    </thead>

                    <tbody>

                    {% for user in users %}
                        <tr>

                            <td>{{ user.email }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ constant('App\\Controller\\AppController::USER_ROLES')[user.roles[0]] }}</td>
                            <td>
                                <span class="badge badge-flat {{ constant('App\\Controller\\AppController::USER_STATUS_SPAN_STYLES')[user.enabled] }}">
                                    {{ constant('App\\Controller\\AppController::USER_STATUS_TEXTS')[user.enabled] }}
                                </span>
                            </td>
                            <td>{{ user.createdAt | date('Y-m-d') }}</td>
                            <td>{{ user.lastLogin | date('Y-m-d') }}</td>
                            <td class="text-center">
                                <div class="list-icons-item">
                                    <a href="{{ path('app.user_edit', {'id': user.id}) }}" class="list-icons-item">
                                        <i class="icon-gear"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
            <div class="card-footer pt-5 bg-white d-sm-flex border-top-0">
                <ul class="pagination pagination-sm pagination-pager pagination-pager justify-content-between">
                    <li class="page-item disabled"><a href="#" class="page-link">&larr; Предыдущая</a></li>
                    <li class="page-item"><a href="#" class="page-link">Следующая &rarr;</a></li>
                </ul>
            </div>
        </div>
        <!-- /Users -->

    </div>

    <!-- /CONTENT AREA -->
{% endblock %}