{% extends 'base.html.twig' %}

{% block page_content_wrapper %}
    <!-- CONTENT HEADER -->

    <div class="page-header">

        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('app.dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
                    <a href="{{ path('app.users_list') }}" class="breadcrumb-item">Пользователи</a>
                    {% if user is defined %}
                        <span class="breadcrumb-item active">{{ user.name }}</span>
                    {% else %}
                        <span class="breadcrumb-item active">Добавить пользователя</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="page-header-content header-elements-inline">

        <div class="page-title d-flex">

            <h1>
                <span class="font-weight-bold">
                    <a href="{{ path('app.users_list') }}" class="text-default">
                        <i class="icon-arrow-left52 mr-3"></i>
                    </a>
                    {% if user is defined %}
                        {{ user.name }}
                    {% else %}
                        Добавить пользователя
                    {% endif %}
                </span>
            </h1>
        </div>

        {% if user is defined %}
            <div class="header-elements">
                <a href="#" class="btn bg-danger btn-icon ml-2 legitRipple" data-toggle="modal"
                   data-target="#modal_delete_confirmation"><i class="icon-trash"></i></a>
            </div>

            <!-- Delete confirmation modal -->
            <div id="modal_delete_confirmation" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Подтвердить удаление</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Вы собираетесь удалить этого пользователя. Вы уверены?</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <form method="post" action="{{ path('app.delete_user', {'id': user.id}) }}">
                                <button type="submit" class="btn btn-outline-danger"><i class="icon-trash mr-2"></i>Удалить
                                </button>
                            </form>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Delete confirmation modal -->

        {% endif %}

    </div>


    <!-- /CONTENT HEADER -->

    <!-- CONTENT AREA -->

    <div class="content">


        <!-- Add article -->
        <div class="card">

            {{ form_start(form) }}
            <div class="table-responsive">

                <table class="table">
                    <thead class="bg-light">
                    <tr>
                        <th>Параметр</th>
                        <th>Значение</th>

                    </tr>

                    </thead>

                    <tbody>

                    <tr>

                        <td class="font-weight-semibold">
                            {{ form_label(form.email) }}
                        </td>

                        <td>
                            {{ form_widget(form.email) }}
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-semibold">
                            {{ form_label(form.name) }}
                        </td>

                        <td>
                            {{ form_widget(form.name) }}
                        </td>
                    </tr>
                    <tr>

                        <td class="font-weight-semibold">Роль</td>

                        <td>
                            {% set roles = constant('App\\Controller\\AppController::USER_ROLES') %}
                            <select class="form-control select" data-fouc name="role" id="user_role_selector"
                                    {% if disableRoleSelector is defined and disableRoleSelector == true %}disabled{% endif %}>
                                {% for key, value in roles %}
                                    <option value="{{ key }}"
                                            {% if user is defined and user.roles[0] == key %}selected{% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.enabled) }}</td>
                        <td>{{ form_widget(form.enabled) }}</td>
                    </tr>
                    <tr>

                        <td class="font-weight-semibold">
                            Пароль
                        </td>

                        <td>
                            {% if user is defined %}
                                <a href="#" type="button" class="btn btn-primary" data-toggle="modal"
                                   data-target="#change_password_modal">
                                    Сменить пароль
                                </a>
                            {% else %}
                                <input required
                                       type="password" id="user_password" name="user-password"
                                       class="form-control">
                            {% endif %}
                        </td>
                    </tr>

                    {% set no_user = false %}

                    {% if user is not defined %}
                        {% set no_user = true %}
                    {% endif %}

                    {% if user is defined %}
                        {% set is_user_admin = user.hasRole('ROLE_SUPER_ADMIN') %}
                    {% endif %}

                    {#{% if user is defined %}#}
                        <tr id="user_access_row"
                            {% if is_user_admin is defined and is_user_admin == true %}hidden{% endif %}
                        >

                            <td class="font-weight-semibold">Доступ</td>

                            <td>
                                <section id="tasks_section" style="margin-bottom: 25px;">
                                    <!-- Раздел ЗАДАЧИ -->
                                    <div class="row">
                                        <div class="col-sm py-2 font-weight-semibold text-uppercase">Задачи</div>
                                        <div class="col-sm">
                                            {% include 'layouts/users/partials/access_level_selector.html.twig'
                                                with {
                                                'field_name': 'tasks_section_access_level',
                                                'data_section_id': 'tasks_section',
                                                'js_handler_class': 'section_selector',
                                                'editedUser': no_user ? null : user
                                            } %}
                                        </div>
                                    </div>

                                    <!-- Категории ЗАДАЧИ -->
                                    {% include 'partials/includes/generate_tree.html.twig' with {
                                        'categories': taskCategoriesList,
                                        'field_name': 'task_category_',
                                        'data_section_id': 'task_category_',
                                        'js_handler_class': 'category_selector',
                                        'editedUser': no_user ? null : user,
                                        'selectorPermissionCode': get_category_permission_code(app.user, 'TaskCategory', '%id%')
                                    } %}

                                </section>

                                <section id="uploads_section" style="margin-bottom: 25px;">
                                    <!-- Раздел ЗАГРУЗКИ -->
                                    <div class="row">
                                        <div class="col-sm py-2 font-weight-semibold text-uppercase">Загрузки</div>
                                        <div class="col-sm">
                                            {% include 'layouts/users/partials/access_level_selector.html.twig'
                                                with {
                                                'field_name': 'uploads_section_access_level',
                                                'data_section_id': 'uploads_section',
                                                'js_handler_class': 'section_selector',
                                                'editedUser': no_user ? null : user
                                            } %}

                                        </div>
                                    </div>

                                    <!-- Категории ЗАГРУЗКИ -->
                                    {% include 'partials/includes/generate_tree.html.twig' with {
                                        'categories': uploadCategoriesList,
                                        'field_name': 'upload_category_',
                                        'data_section_id': 'upload_category',
                                        'js_handler_class': 'category_selector',
                                        'editedUser': no_user ? null : user
                                    } %}
                                </section>

                                <section id="knowledge_section" style="margin-bottom: 25px;">
                                    <!-- Раздел БАЗА ЗНАНИЙ -->
                                    <div class="row">
                                        <div class="col-sm py-2 font-weight-semibold text-uppercase">База знаний</div>
                                        <div class="col-sm">
                                            {% include 'layouts/users/partials/access_level_selector.html.twig'
                                                with {
                                                'field_name': 'knowledge_section_access_level',
                                                'data_section_id': 'knowledge_section',
                                                'js_handler_class': 'section_selector',
                                                'editedUser': no_user ? null : user
                                            } %}

                                        </div>
                                    </div>

                                    <!-- Категории БАЗА ЗНАНИЙ -->
                                    {% include 'partials/includes/generate_tree.html.twig' with {
                                        'categories': knowledgeCategoriesList,
                                        'field_name': 'knowledge_category_',
                                        'data_section_id': 'knowledge_category',
                                        'js_handler_class': 'category_selector',
                                        'editedUser': no_user ? null : user
                                    } %}
                                </section>
                            </td>
                        </tr>
                    {#{% endif %}#}
                    </tbody>

                </table>

            </div>
            <div class="card-footer pt-5 bg-white border-0 d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a href="{{ path('app.users_list') }}" class="btn btn-light">Отменить</a>
            </div>
            {{ form_end(form) }}
        </div>
        <!-- /Add article -->


    </div>
    {% if user is defined %}
        <div id="change_password_modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <form method="post" action="{{ path('app.user_update_password', {'id': user.id}) }}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Сменить пароль</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Вы собираетесь собираетесь сменить пароль пользователя. Вы уверены?</p>
                            <div class="form-group">
                                <label for="user_password">Новый пароль</label>
                                <input type="password" id="user_password" name="user[password]" class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="submit" class="btn btn-success"><i class="icon-floppy-disk mr-2"></i>Сохранить
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {#<script src="{{ asset('assets/js/form_select2.js') }}"></script>#}
    <!-- /CONTENT AREA -->
{% endblock %}

{% block app_js %}
    <script src="{{ asset('assets/js/select2.min.js') }}"></script>

    <script>
        $('.section_selector').on('change', function () {
            let selectedVal = $(this).val();
            let sectionId = $(this).data('sectionid');

            $("#" + sectionId).each(function () {
                let sectionSelects = $(this).find('select.select ');

                sectionSelects.each(function (key, val) {
                    $(val).val(selectedVal);
                })
            });

        })

        $('.category_selector').on('change', function () {
            let selectedVal = $(this).val();
            let sectionId = $(this).data('sectionid');

            $("#" + sectionId).each(function () {
                let sectionSelects = $(this).find('select.select ');

                sectionSelects.each(function (key, val) {
                    $(val).val(selectedVal);
                })
            });

        });

        $('#user_role_selector').on('change', function () {
            let selectedRole = $(this).val();
            let userAccessRow = $('#user_access_row');

            if (selectedRole === 'ROLE_SUPER_ADMIN') {
                $(userAccessRow).hide();
            } else {
                if ($(userAccessRow).attr('hidden')) {
                    $(userAccessRow).removeAttr('hidden');
                }
                $(userAccessRow).show();

            }
            console.log($(this).val());
        })
    </script>
{% endblock %}